<h2><%= market.brand %></h2>
<p><%= market.address %></p>

<div class="map-info">
  <p><%= @nb_markets %> tickets enregistrés</p>
</div>


<a class='btn-flat' data-action= "click->map#direction" data-lat=<%=market.latitude%> data-lng=<%=market.longitude%>>minutes</a>
