<div class=container>
  <div class="title-dashboard">
    <%= image_tag "logo.png" %>
    <h1>Tableau de bord</h1>
  </div>
  <div class="map-dashboard" data-controller="map" data-map-markers-value="<%= @markers.to_json %>"
    data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>" data-map-user-marker-value="<%=@user_marker%>">
    <div style="height: 40vh; margin: auto"
      data-map-target="map">
    </div>
  </div>

    <% @total_product = 0 %>
    <% @nb_product = 0 %>
    <% if Ticket.all != nil %>
      <% Ticket.all.each do |total| %>
        <% total.market.price_level unless total.market == nil %>
        <% @total_product += total.market.price_level - 1 unless total.market == nil %>
        <% @nb_product += 1  %>
      <% end %>
    <% end %>

  <div class="resume-card">
      <% @total_sum = 0 %>
      <% if Ticket.all != nil %>
        <% Ticket.all.each do |total| %>
          <% @total_sum += total.total_price unless total.total_price == nil %>
        <% end %>
      <% end %>
      <h2><i class="fa-solid fa-calendar-days"></i> Décembre 2022 </h2>
      <p id="p-resume"><%= @nb_product %> tickets enregistrés</p>

    <div class="info-price">

      <div class="price-ticket">
        <h2><%= @total_sum.round(2) %> €</h2>
        <%= image_tag "c.svg" %>
      </div>
      <div>
      <% if @total_product.negative? %>
        <p><strong id="plus"><%=  (((@total_product) * 100)/@nb_product).round(0) %>% de moins</strong> la moyenne ! 👏</p>
      <% elsif @total_product.positive?%>
        <p><strong id="moins"><%=  (((@total_product) * 100)/@nb_product).round(0) %>% de plus</strong> que la moyenne ! 🥲</p>
      <% else %>
        <p>Pas d'économies, pas de pertes ce mois-ci</p>
      <% end %>
      </div>

    </div>
  </div>
       <div class="icone-dashboard">
        <svg viewBox="0 0 24 24"  xmlns="http://www.w3.org/2000/svg" width="60" height="60" fill="none" viewBox="0 0 24 24">
        <style>
          .slide-11 {
            animation: slide-11 1s infinite alternate both cubic-bezier(1, -0.01, 0, 0.98);
          }
          @keyframes slide-11 {
            100% {
              transform: translateY(2px)
            }
          }
        </style>
        <path class="slide-11" fill="#0A0A30" d="M6.832 10.516a.857.857 0 111.097-1.317l4.594 3.828L17.117 9.2a.857.857 0 011.098 1.317l-5.132 4.276a.853.853 0 01-.933.123.85.85 0 01-.187-.123l-5.131-4.276z"/>
      </svg>
      </div>


    <% Ticket.all.reverse.each do |last|  %>

    <% if last.total_price != nil %>


    <div class="tickets-card">
      <div>
        <% if last.market_id != nil %>
          <h2><i class="fa-solid fa-shop"></i>    <%= last.market.brand %></h2>
        <% else %>
          <p>Supermarché non identifié</p>
        <% end %>
        <% if last.market_id != nil %>
        <p><%= last.market.address %></p>
        <% else %>
          <p>Adresse non identifiée</p>
        <% end %>
        <p class="date-ticket"><%= last.created_at.strftime('%d/%m/%Y')%></p>

      </div>

      <div class="price-ticket">
        <h2><%= last.total_price %>€</h2>
        <%= image_tag "c.svg" %>
      </div>
    <% end %>

    </div>
      <% end %>
      <div>
      <br>
      <br>
      <br>
      <br>
      </div>
</div>
