<div class="container all-dashboard">
  <div class="mb-3 mt-3 dashbooard" data-controller="dashboard">
    <h2>Tableau de bord</h2>
  </div>
  <div class="show-cards" >
    <div class="total-price">
      <% @total_sum = 0 %>
      <% Ticket.all.each do |total|  %>
        <% @total_sum += total.total_price %>
      <% end %>
      <div class="total-sum-per-month"><p>Mes dépenses du mois : </p></div>
      <div class="total-sum-per-month-price"><p> <%= @total_sum.round(2) %> €</p></div>
    </div>
    <div class="map-dashboard">
      <div
        style="height: 30vh; margin: auto"
        data-controller="map"
        data-map-markers-value="<%= @markers.to_json %>"
        data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
      </div>
    </div>
    <div class="economy-dashboard">
      <% @total_product = 0 %>
      <% @nb_product = 0 %>
      <% Ticket.all.each do |total| %>
        <% total.market.price_level  %>
        <% @total_product += total.market.price_level - 1%>
        <% @nb_product += 1  %>
      <% end %>
      <p>
        <% if @total_product.negative? %>
          <p>vous économisez <%=  (((@total_product) * 100)/@nb_product).round(0) %>% par rapport à la moyenne ce mois-ci</p>
        <% elsif @total_product.positive?%>
          <p>vous payez vos courses <%=  (((@total_product) * 100)/@nb_product).round(0) %>% de plus que la moyenne ce mois-ci</p>
        <% else %>
          <p>Pas d'économies, pas de pertes ce mois-ci</p>
        <% end %>
      </p>
      </div>
  </div>
  <div class="price-dashboard">
    <% Ticket.all.reverse.each do |last|  %>
        <div class="container flexito each-last show-cards">
          <div class="blockito">
            <% if last.market_id != nil %>
            <%= last.market.brand %>
            <% else %>
            <p>Supermarché non identifié </p>
            <% end %>
            <div class="blockito dashboard-created-at">
            <%= last.created_at.strftime('Créé le : %d/%m/%Y')%>
            </div>
          </div>
          <div class="last-total-price flexito">
            <%= last.total_price %><form>€</form>
          </div>
        </div>
      <% end %>
  </div>
</div>
