<div class="container">
    <div class="card-product-profile">
      <%= cl_image_tag @current_user.photo.key, class:"avatar" %>
      <div>
        <h1>Profil</h1>
        <p><%= @current_user.email %></p>
      </div>
    </div>
    <div class="card-login">
      <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, class:"edit_form"}) do |f| %>
      <%= f.error_notification %>

      <div class="form-inputs">
        <div class="form_edit_profile"><%= f.input :email, required: true, autofocus: true %></div>

        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
        <% end %>

        <div class="form_edit_profile"><%= f.input :password,
                    hint: "Laissez cette espace blanc si vous ne voulez pas changer",
                    required: false,
                    input_html: { autocomplete: "new-password" } %></div>
        <div class="form_edit_profile"><%= f.input :password_confirmation,
                    required: false,
                    input_html: { autocomplete: "new-password" } %></div>
        <div class="form_edit_profile"><%= f.input :current_password,
                    hint: "On a besoin de votre mot de passe actuel pour le modifier",
                    required: true,
                    input_html: { autocomplete: "current-password" } %></div>
        <div class="form_edit_profile"><%= f.input :photo, as: :file %></div>

      </div>
      <div class="form-actions"><p><%= f.button :submit, "Modifier", class: "btn btn-flat" %></p></div>
    <% end %>

    <div class="form_edit_profile btn btn-flat"><p>Pas content ?<%= link_to "Supprimer mon compte", registration_path(resource_name), data: { confirm: "Vous êtes sûr ?" }, method: :delete, class: "btn btn-flat" %></p></div>

</div>

<div>
<br>
<br>
<br>
<br>
<br>
</div>
