<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
    <div class="details">


      <div class="d-flex h-100 w-100 justify-content-around">
        <%= link_to "/markets" do %>
          <%= image_tag "icone-home.png", class:"icone-gen" %>
        <% end %>
        <%= link_to "#" do %>
          <%= image_tag "icone-historique.png", class:"icone-gen" %>
        <% end %>
      </div>

      <%= link_to "/tickets/new" do %>
        <%= image_tag "icone-photo", id:"icone-photo" %>
      <% end %>
      <% if current_user %>
        <%= link_to edit_user_registration_path do %>
        <%= cl_image_tag @current_user.photo.key, id:"icone-photo-profil" %>
      <% end %>
    <% end %>

    </div>
  </div>
</div>
