<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
    <div class="details">


      <div class="d-flex h-100 w-100 justify-content-around">
        <%= link_to "/markets" do %>
          <%= image_tag "icone-home.png", class:"icone-gen" %>
        <% end %>
        <%= link_to "/dashboard" do %>
          <%= image_tag "icone-historique.png", class:"icone-gen" %>
        <% end %>
      </div>

      <%= link_to "/tickets/new" do %>
        <%= image_tag "icone-photo.png", id:"icone-photo" %>
      <% end %>

    </div>
  </div>
</div>
